<h2>Show Link<h2>

<%= @link.user.username %>
<%= @link.title %>
<%= @link.url %>

<a href="<%= links_url %>">Links</a>
<a href="<%= edit_link_url %>">Edit Link</a>

<h3>Add Comment</h3>
<form action="<%= link_comments_url(@link) %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Comment
        <input type="text" name="comment[body]" value="">
    </label>
    <input type="submit" value="Add Comment">
<form>

<ul>
    <% @link.comments.each do |comment| %>
        <li><%= comment.body %></li>
        <form action="<%= comment_url(comment[:id]) %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Remove Comment">
        </form>
    <% end %>
</ul>